[Unit]
Description="Prometheus"
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/prometheus
ExecStart=/usr/local/prometheus/prometheus  --config.file=prometheus.yml --web.enable-lifecycle --enable-feature=remote-write-receiver
Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
