[mysqld]
user                                   = mysql
port                                   = 3306
pid_file                               = /db/run/mysqld.pid
socket                                 = /db/run/mysqld.sock
basedir                                = /usr/local/mysql
datadir                                = /db/data
log_error                              = /db/log/mysqld.log
log_timestamps                         = SYSTEM
character-set-server                   = utf8mb4
collation_server                       = utf8mb4_general_ci
explicit_defaults_for_timestamp        = ON
tls_version                            = TLSv1.2

slow_query_log                         = 1
slow_query_log_file                    = /db/log/mysql-slow.log
log_queries_not_using_indexes          = 1
log_slow_admin_statements              = 1
log_slow_replica_statements            = 1
log_throttle_queries_not_using_indexes = 10
long_query_time                        = 5

server-id                              = 1
# relay-log                              = /db/log/relay-log
log_bin                                = /db/log/mysql-bin
log_error_verbosity                    = 2
log_error_verbosity                    = 2
binlog_cache_size                      = 2M
max_binlog_size                        = 1G
binlog_checksum                        = NONE
binlog_format                          = ROW
binlog_rows_query_log_events           = 1
sync_binlog                            = 1
binlog_expire_logs_seconds             = 2592000
mysqlx_socket                          = /db/run/mysqlx.sock


[mysql]
default-character-set                  = utf8mb4


[client]
port                                   = 3306
socket                                 = /db/run/mysqld.sock
default-character-set                  = utf8mb4
