[mysqld]
user                                   = mysql
port                                   = 3306
pid_file                               = /opt/mysql/run/mysqld.pid
socket                                 = /opt/mysql/run/mysqld.sock
basedir                                = /usr/local/mysql
datadir                                = /opt/mysql/data
log_error                              = /opt/mysql/log/mysqld.log
character-set-server                   = utf8mb4
collation_server                       = utf8mb4_general_ci
explicit_defaults_for_timestamp        = ON
tls_version                            = TLSv1.2

slow_query_log                         = 1
slow_query_log_file                    = /opt/mysql/log/mysql-slow.log
log_queries_not_using_indexes          = 1
log_slow_admin_statements              = 1
log_slow_slave_statements              = 1
log_throttle_queries_not_using_indexes = 10
long_query_time                        = 5

server-id                              = 1
log_bin                                = /opt/mysql/log/mysql-bin.log
log_error_verbosity                    = 2
log_error_verbosity                    = 2
binlog_cache_size                      = 2M
max_binlog_size                        = 1G
binlog_checksum                        = NONE
binlog_format                          = ROW
binlog_rows_query_log_events           = 1
sync_binlog                            = 1
expire_logs_days                       = 7


[mysql]
default-character-set                  = utf8mb4


[client]
port                                   = 3306
socket                                 = /opt/mysql/run/mysqld.sock
default-character-set                  = utf8mb4
